@charset "ISO-8859-1";

body {
	background-image: url("/student-management/URLToReachImagesFolder/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}